doctype html
html(lang='en')
    body
        include head
        link(href='css/shop-homepage.css', rel='stylesheet')
        // Page Content
        .container
            .row
                include sidebar
                .col-md-9
                    .row.carousel-holder
                        .col-md-12
                            #carousel-example-generic.carousel.slide(data-ride='carousel')
                                ol.carousel-indicators
                                    li.active(data-target='#carousel-example-generic', data-slide-to='0')
                                    li(data-target='#carousel-example-generic', data-slide-to='1')
                                    li(data-target='#carousel-example-generic', data-slide-to='2')
                                .carousel-inner
                                    .item.active
                                        img.slide-image(src='http://placehold.it/800x300', alt='')
                                    .item
                                        img.slide-image(src='http://placehold.it/800x300', alt='')
                                    .item
                                        img.slide-image(src='http://placehold.it/800x300', alt='')
                                a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
                                    span.glyphicon.glyphicon-chevron-left
                                a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
                                    span.glyphicon.glyphicon-chevron-right
                                        .row
                        br
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='images/#{items[0].id}hres.png', alt='')
                                .caption
                                    h4.pull-right $#{items[0].price}
                                    h4
                                        a(href='/view?itemid=' + items[0].id) #{items[0].name}
                                    p	#{items[0].summary}
                                .ratings
                                    p.pull-right #{items[0].reviews} reviews
                                    p
                                        if items[0].rating > 0
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 1.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 2.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 3.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 4.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                        br
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='images/#{items[0].id}hres.png', alt='')
                                .caption
                                    h4.pull-right $#{items[0].price}
                                    h4
                                        a(href='/view?itemid=' + items[0].id) #{items[0].name}
                                    p	#{items[0].summary}
                                .ratings
                                    p.pull-right #{items[0].reviews} reviews
                                    p
                                        if items[0].rating > 0
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 1.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 2.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 3.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 4.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                        br
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='images/#{items[0].id}hres.png', alt='')
                                .caption
                                    h4.pull-right $#{items[0].price}
                                    h4
                                        a(href='/view?itemid=' + items[0].id) #{items[0].name}
                                    p	#{items[0].summary}
                                .ratings
                                    p.pull-right #{items[0].reviews} reviews
                                    p
                                        if items[0].rating > 0
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 1.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 2.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 3.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if items[0].rating > 4.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty

        // /.container
        .container
            hr
            // Footer
            footer
                .row
                    .col-lg-12
                        p Copyright © TEC 2016
        // /.container
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
