doctype html
html(lang='en')
    body
        include head
        link(href='css/shop-homepage.css', rel='stylesheet')
        // Page Content
        .container
            .row
                include sidebar
                .col-md-9
                    .row.carousel-holder
                        if 2==2
                            .col-md-12
                                #carousel-example-generic.carousel.slide(data-ride='carousel')
                                    ol.carousel-indicators
                                        li.active(data-target='#carousel-example-generic', data-slide-to='0')
                                        li(data-target='#carousel-example-generic', data-slide-to='1')
                                        li(data-target='#carousel-example-generic', data-slide-to='2')
                                        li(data-target='#carousel-example-generic', data-slide-to='3')
                                        li(data-target='#carousel-example-generic', data-slide-to='4')
                                    .carousel-inner
                                        .item.active
                                            img.slide-image(src='images/banner1.png', alt='')
                                        .item
                                            img.slide-image(src='images/banner2.png', alt='')
                                        .item
                                            img.slide-image(src='images/banner3.png', alt='')
                                        .item
                                            img.slide-image(src='images/banner4.png', alt='')
                                        .item
                                            img.slide-image(src='images/banner5.png', alt='')
                                    a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
                                        span.glyphicon.glyphicon-chevron-left
                                    a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
                                        span.glyphicon.glyphicon-chevron-right
                                            .row
                            br
                            .col-sm-4.col-lg-4.col-md-4
                                .thumbnail
                                    img(src='images/book-image.png', alt='')
                                    .caption
                                        h4.pull-right $#{items[0].price}
                                        h4
                                            a(href='/view?itemid=' + items[0].id) #{items[0].name}
                                        p   See more of type: 
                                            a(href='/search?type=' + items[0].type) #{items[0].type}
                                        textarea.sample-summary(readonly, style="resize: none;")	#{items[0].summary}
                                    .ratings
                                        p.pull-right #{items[0].reviews} reviews
                                        p
                                            if items[0].rating > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[0].rating > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[0].rating > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[0].rating > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[0].rating > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                            br
                            .col-sm-4.col-lg-4.col-md-4
                                .thumbnail
                                    img(src='images/book-image.png', alt='')
                                    .caption
                                        h4.pull-right $#{items[1].price}
                                        h4
                                            a(href='/view?itemid=' + items[1].id) #{items[1].name}
                                        p   See more of type: 
                                            a(href='/search?type=' + items[1].type) #{items[1].type}
                                        textarea.sample-summary(readonly, style="resize: none;")	#{items[1].summary}
                                    .ratings
                                        p.pull-right #{items[1].reviews} reviews
                                        p
                                            if items[1].rating > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[1].rating > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[1].rating > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[1].rating > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[1].rating > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                            br
                            .col-sm-4.col-lg-4.col-md-4
                                .thumbnail
                                    img(src='images/book-image.png', alt='')
                                    .caption
                                        h4.pull-right $#{items[2].price}
                                        h4
                                            a(href='/view?itemid=' + items[2].id) #{items[2].name}
                                        p   See more of type: 
                                            a(href='/search?type=' + items[2].type) #{items[2].type}
                                        textarea.sample-summary(readonly, style="resize: none;")	#{items[2].summary}
                                    .ratings
                                        p.pull-right #{items[2].reviews} reviews
                                        p
                                            if items[2].rating > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[2].rating > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[2].rating > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[2].rating > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[2].rating > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                            .col-sm-4.col-lg-4.col-md-4
                                .thumbnail
                                    img(src='images/book-image.png', alt='')
                                    .caption
                                        h4.pull-right $#{items[3].price}
                                        h4
                                            a(href='/view?itemid=' + items[3].id) #{items[3].name}
                                        p   See more of type: 
                                            a(href='/search?type=' + items[3].type) #{items[3].type}
                                        textarea.sample-summary(readonly, style="resize: none;")    #{items[3].summary}
                                    .ratings
                                        p.pull-right #{items[3].reviews} reviews
                                        p
                                            if items[3].rating > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[3].rating > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[3].rating > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[3].rating > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[3].rating > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                            .col-sm-4.col-lg-4.col-md-4
                                .thumbnail
                                    img(src='images/book-image.png', alt='')
                                    .caption
                                        h4.pull-right $#{items[4].price}
                                        h4
                                            a(href='/view?itemid=' + items[4].id) #{items[4].name}
                                        p   See more of type: 
                                            a(href='/search?type=' + items[4].type) #{items[4].type}
                                        textarea.sample-summary(readonly, style="resize: none;")    #{items[4].summary}
                                    .ratings
                                        p.pull-right #{items[4].reviews} reviews
                                        p
                                            if items[4].rating > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[4].rating > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[4].rating > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[4].rating > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[4].rating > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                            .col-sm-4.col-lg-4.col-md-4
                                .thumbnail
                                    img(src='images/book-image.png', alt='')
                                    .caption
                                        h4.pull-right $#{items[5].price}
                                        h4
                                            a(href='/view?itemid=' + items[5].id) #{items[5].name}
                                        p   See more of type: 
                                            a(href='/search?type=' + items[5].type) #{items[5].type}
                                        textarea.sample-summary(readonly, style="resize: none;")    #{items[5].summary}
                                    .ratings
                                        p.pull-right #{items[5].reviews} reviews
                                        p
                                            if items[5].rating > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[5].rating > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[5].rating > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[5].rating > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if items[5].rating > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty

        // /.container
        hr
        include foot
        // /.container
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
