doctype html
html(lang='en')
    body
        include head
        link(href='css/shop-profile.css', rel='stylesheet')
        // Page Content
        .container
            .row
                include sidebar
                .col-md-9
                    p.lead #{user.username}
                    .left-side
                        p User id: #{user.id}
                        p Name: #{user.fname} #{user.lname}
                        p Address: #{user.address}
                        p Email: #{user.email}
                    .right-side
                        img(id='profile-image',src='http://placehold.it/300x200', alt='')
            if userid == user.id
                a(class="btn btn-success btn-block", href="/listitem") List item
                .profile-listings
                    p.title-text </br>Your Listings:
                    .profile-listing-single
                        .thumbnail
                            img(src='images/book-image.png', alt='')
                            .caption
                                h4.pull-right $Dolla billz
                                h4
                                    a(href='#') Item name
                                p	Item summary
                            .ratings
                                p.pull-right DIS MANY reviews
                                p
                                    if 0 > 0
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if 0 > 1.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if 0 > 2.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if 0 > 3.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if 0 > 4.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                    .profile-listing-single
                        .thumbnail
                            img(src='images/book-image.png', alt='')
                            .caption
                                h4.pull-right $Dolla billz
                                h4
                                    a(href='#') Item name
                                p	Item summary
                            .ratings
                                p.pull-right DIS MANY reviews
                                p
                                    if 0 > 0
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if 0 > 1.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if 0 > 2.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if 0 > 3.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if 0 > 4.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
        // /.container
    hr
    include foot
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
