doctype html
html(lang='en')
    body
        include head
        link(href='css/shop-profile.css', rel='stylesheet')
        // Page Content
        .container
            .row
                include sidebar
                .col-md-9
                    p.lead #{user.username}
                    .left-side
                        p User id: #{user.id}
                        p Name: #{user.fname} #{user.lname}
                        p Address: #{user.address}
                        p Email: #{user.email}
                    .right-side
                        img(id='profile-image',src='http://placehold.it/300x200', alt='')
            a(class="btn btn-success btn-block", href="/listitem") #{user.username}s item(s) for sale:
            .profile-listings
                    each item in items
                      .profile-listing-single
                        .thumbnail
                            img(src='images/book-image.png', alt='')
                            .caption
                                h4.pull-right $#{item.price}
                                h4
                                    a(href='#') #{item.name}
                                p	#{item.summary}
                            .ratings
                                p.pull-right #{item.reviews} reviews
                                p
                                    if item.rating > 0
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if item.rating > 1.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if item.rating > 2.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if item.rating > 3.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
                                    if item.rating > 4.5
                                        span.glyphicon.glyphicon-star
                                    else
                                        span.glyphicon.glyphicon-star-empty
        // /.container
    hr
    include foot
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
