doctype html
html(lang='en')
    body
        include head
        // Page Content
        .container
            .row
                include sidebar
                .col-md-9
                    p.lead #{title}
                    .search-results-list
                        each item in items
                            .row
                                .search-results-list.search-results-item
                                    img(id='search-results-image', src='images/book-image.png', alt='')
                                    .search-results-list.search-results-item.ratings
                                        p
                                            if item.rating > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if item.rating > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if item.rating > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if item.rating > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if item.rating > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                        p #{item.reviews} reviews
                                    .search-results-list.search-results-item.price-and-buy
                                        p.search-results-list.search-results-item.price-and-buy.price() $#{item.price}
                                        a.search-results-list.search-results-item.price-and-buy.buy(href="/cart?itemid="+item.id) Add to cart
                                    .search-results-list.search-results-item.title-description
                                        p.search-results-list.search-results-item.title-description.title
                                            a(href="/view?itemid=#{item.id}", data-toggle="tooltip", title="Hooray!") #{item.name}
                                        //p.search-results-list.search-results-item.title-description.description #{item.summary}
                                        textarea.search-results-list.search-results-item.title-description.description(style="resize: none;") #{item.summary}
                        if catagory
                            p
                                a(class="btn btn-success btn-lg", href="/search?catagory=" + catagory + "&itemStart=" + (itemStart - 10)) Previous
                                a(class="btn btn-success btn-lg",href="/search?catagory=" + catagory + "&itemStart=" + (itemStart + 10)) Next
                        else
                            if type
                                p
                                    a(class="btn btn-success btn-lg",href="/search?type=" + type + "&itemStart=" + (itemStart - 10)) Previous
                                    a(class="btn btn-success btn-lg",href="/search?type=" + type + "&itemStart=" + (itemStart + 10)) Next
                            else
                                p
                                    a(class="btn btn-success btn-lg",href="/search?itemStart=" + (itemStart - 10)) Previous
                                    a(class="btn btn-success btn-lg",href="/search?itemStart=" + (itemStart + 10)) Next
        // /.container
        hr
        include foot
        // /.container
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
