doctype html
html(lang='en')
    body
        include head
        // Page Content
        .container
            .row
                .col-md-3
                    p.lead Top End Code
                    .list-group
                        a.list-group-item(href='#') Textbooks
                        a.list-group-item(href='#') Magazines
                        a.list-group-item(href='#') DVDs
                        a.list-group-item(href='#') Textbooks
                        a.list-group-item(href='#') Magazines
                        a.list-group-item(href='#') DVDs
                        a.list-group-item(href='#') Textbooks
                        a.list-group-item(href='#') Magazines
                        a.list-group-item(href='#') DVDs
                        a.list-group-item(href='#') Textbooks
                        a.list-group-item(href='#') Magazines
                        a.list-group-item(href='#') DVDs
                .col-md-9
                    a.itemName(href='/view?itemid=' + id) #{name}
                    .middle-container
                        .middle-container.description
                            //p #{description}
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis nisl felis. Curabitur porttitor tincidunt consectetur. Sed cursus nulla eget lorem lacinia, in interdum tellus rutrum. Donec a est ipsum. Praesent lacus odio, bibendum non erat eu, malesuada viverra dui. Aliquam tempus nibh orci, non congue nibh laoreet ut. In in suscipit arcu, eget dapibus tortor. Ut consequat, mauris at efficitur suscipit, orci massa tincidunt lectus, in iaculis justo tortor id enim. Nullam sit amet leo aliquet turpis porttitor viverra a quis tortor. Mauris maximus felis ac nisl vehicula, vel condimentum nulla efficitur. Vivamus id sollicitudin nisi. Sed scelerisque, metus sed viverra viverra, leo libero sodales tortor, eu sodales arcu velit ac purus.
                        .middle-container.image-and-info
                            img(id='product-image',src='http://placehold.it/320x250', alt='')
                            .caption
                                h4.item-price $#{price}
                                if stock < 0
                                        p.stock-left 
                                else
                                        p.stock-left Stock Left: #{stock}
                    .bottom-container
                        .bottom-container.ratings
                            p
                                if rating > 0
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                if rating > 1.5
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                if rating > 2.5
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                if rating > 3.5
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                if rating > 4.5
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                |    #{reviews} reviews
                        .row
                            .ratings-list
                                each comment, index in comments
                                    .ratings-list-item
                                        .ratings-list-item.rating
                                            p
                                            if commentRatings[index] > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if commentRatings[index] > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if commentRatings[index] > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if commentRatings[index] > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if commentRatings[index] > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                        .ratings-list-item.commenter-id
                                            p Commenter ID: #{commenterIDs[index]}
                                        .ratings-list-item.comment
                                            p #{comment}




        .container
            hr
            // Footer
            footer
                .row
                    .col-lg-12
                        p Copyright © TEC 2016
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
