doctype html
html(lang='en')
    body
        include head
        link(href='css/shop-viewitempage.css', rel='stylesheet')
        // Page Content
        .container
            .row
                include sidebar
                .col-md-9
                    a.itemName(href='/view?itemid=' + id) #{name}
                    .middle-container
                        .middle-container.description
                            //p #{description}
                            p #{description}
                        .middle-container.image-and-info
                            img(id='product-image',src='images/#{id}hres.png', alt='')
                            .caption
                                h4.item-price $#{price}
                                if stock < 0
                                        p.stock-left 
                                else
                                        p.stock-left Stock Left: #{stock}
                    .bottom-container
                        .bottom-container.ratings
                            p
                                if rating > 0
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                if rating > 1.5
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                if rating > 2.5
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                if rating > 3.5
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                if rating > 4.5
                                    span.glyphicon.glyphicon-star
                                else
                                    span.glyphicon.glyphicon-star-empty
                                |    #{reviews} reviews
                        .row
                            .ratings-list
                                each comment, index in comments
                                    .ratings-list-item
                                        .ratings-list-item.rating
                                            p
                                            if commentRatings[index] > 0
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if commentRatings[index] > 1.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if commentRatings[index] > 2.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if commentRatings[index] > 3.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                            if commentRatings[index] > 4.5
                                                span.glyphicon.glyphicon-star
                                            else
                                                span.glyphicon.glyphicon-star-empty
                                        .ratings-list-item.commenter-id
                                            p Commenter ID: #{commenterIDs[index]}
                                        .ratings-list-item.comment
                                            p #{comment}
                            form.ratings-add-comment(name='search-query', action='/addcomment?itemid=#{itemid}&comment=[thecomment]', method='get')
                                input(id='commentBox', "text", "query", "Search" value='Add comment', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}", name='search')
                                input(id='submitButton', type='submit', value='Submit')



        hr
        include foot
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
